version: "3.4"

services:
  pwa: &pwa
    image: ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}:${APP_BUILD}
    build: pwa
    ports:
      - "8000:8080"
    environment:
      - UPSTREAM_BASE=${UPSTREAM_BASE}
    volumes:
      - ./pwa/docker/templates/default.conf.template:/etc/nginx/templates/default.conf.template:ro


volumes:
  db-data: {}
  uc-data: {}
  db-mysql: {}