.container {
  margin-block-start: var(--utrecht-space-block-3xl);
}

.container > div > article > *:not(:last-child),
.backLink {
  margin-block-end: var(--utrecht-space-block-lg);
}

/* Hyphenate headings to ensure that long headings wrap properly */
.container :global(.utrecht-heading-1),
.container :global(.utrecht-heading-2),
.container :global(.utrecht-heading-3),
.container :global(.utrecht-heading-4),
.container :global(.utrecht-heading-5),
.container :global(h1),
.container :global(h2),
.container :global(h3),
.container :global(h4),
.container :global(h5) {
  hyphens: auto;
}

.backLink:hover {
  cursor: pointer;
}

.backLink {
  display: flex;
  align-items: center;
}
